@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700;900&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.font-display {
  font-family: "Space Grotesk", "Segoe UI", sans-serif;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
  background-color: #e35124;
  padding: 0.3em 0.6em;
  border-radius: 4px;
}
a:hover {
  background-color: #c94821;
}

h1 {
  font-size: 3.2em;
  font-weight: 800;
  line-height: 1.5;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}
